[Desktop Entry]
Type=Application
Name=Vimeo Stream Monitor
Comment=Launch Vimeo Stream Monitor at startup
Exec=/bin/bash -c 'cd /home/admin/code/vimeo-monitor && uv run streammonitor.py'
Terminal=false
Hidden=false